.header	{
	width: auto;
	height: 80px;
	background-color: #BBBBBB;
	margin: 0 auto;

}
.content {
	height: 420px;
	width: auto;
	background-color: #000082;
	margin: 40px auto;
	padding: 30px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-flow: row wrap
}
.footer {
	width: auto;
	height: 80px;
	background-color: #BBBBBB;
	margin: 0 auto;
}
.con {
	width: 609px;
	background-color: #F27F7E;
	flex: ;
}
.fl1 {
	flex: 1 50%;

}
.fl2 {
	background-color: #8B19E6;
	flex: 1 50%;
}
.fl3 {
	background-color: #A72926;
	flex: 1;
}
.fl4 {
	background-color: #0AB2AB;
	flex: 1;

}
.fl5 {
	background-color: #3E65E4;
	flex: 1 100%;
}