@media only screen and (max-width : 1024px) {
	.right_area {
		margin-left: auto;
		margin-right: auto;
	}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.right_area {
		margin-left: 0;
		margin-right: auto;
	}